@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat';
}

.container {
    width: 80%;
    margin: 0 auto; 
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.title {
    text-align: center;
}

.attendees {
    /* text-align: center; */
    font-size: 32px;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #444;
    margin: 0 auto;
    border-radius: 50px;
    margin-bottom: 30px;
}

.attendees-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.attendee-card {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 2px solid #aaa;
    transition: .2s;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.attendee-card:hover {
    border: 2px solid #444;
}

.attendee-card img {
    width: 150px;
    border-radius: 100px;
}

.attendee-card h1 {
    margin: 20px 0;
    text-align: center;
}