@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat';
}

.container {
    width: 80%;
    margin: 0 auto; 
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.title {
    text-align: center;
}

.attendees {
    /* text-align: center; */
    font-size: 32px;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #444;
    margin: 0 auto;
    border-radius: 50px;
    margin-bottom: 30px;
}